.main-title{
  text-align:center;
  margin-top:15%;
  font-size:60px;
}

.search-container{
  width:50%;
  position:center;
  margin:0 auto;
  margin-top:70px;
}

.results-container{
  margin-left:25%;
  background-color:#F6F6F6;
  margin-right:25%;
  word-wrap: break-word;
}

.link{
  color:green;
}

.title{
  font-size:20px;
}


